.products{
    .product-item{
        cursor: pointer;

        &:hover{
            background-color: rgba(228, 168, 203, 0.5);
        }
    }

    .product-details{
        
        .product-price{
            font-size: 1.5em;
            font-weight: bold;

        }

        .carousel{

            height: 300px;
    
            .indicator-item{
                background-color:rgba(231, 148, 206, 0.5);
            }

            .indicator-item.active{
                background-color:rgba(189, 37, 113, 0.5);
            }
        }

        .add-to-cart{
            font-size: 2em;

            .qty-container{
                margin: 0 30px;
                vertical-align: middle;
            }

            .add-to-cart-btn{
                display: inline-block;
            }
        }

        .product-qty{
            padding: 0 10px;
            margin: 0 10px;
        }
    }

    
}
