.products{
    .product-item{
        cursor: pointer;

        &:hover{
            background-color: rgba(228, 168, 203, 0.5);
        }
    }

    .product-details{
        
        .product-price{
            font-size: 2em;
            font-weight: bold;

        }

        .carousel{
            background-color: #fce4ec;
            height: 300px;
    
            .indicator-item{
                background-color:rgba(231, 148, 206, 0.5);
            }

            .indicator-item.active{
                background-color:rgba(189, 37, 113, 0.5);
            }
        }

        .add-to-cart{
            font-size: 2em;

            .qty-container{
                margin: 0 30px;
                position: relative;

                .product-qty{
                    width: 50px;
                    position: relative;
                    top: 5px;
                }
            }

            .add-to-cart-btn, .qty-container, .product-qty{
                display: inline-block;
            }
        }

        .product-qty{
            padding: 0 10px;
            margin: 0 10px;
        }
    }

    .collection .collection-item{
        border-bottom: none;
    }

    
}
